@charset "UTF-8";
header{
    background: red;
    text-align: center;
    color: white;
    height: 15vh;
    margin: 0px;
}

footer{
    background: red;
    text-align: center;
    color: white;
    height: 15vh;
    margin: 0px;


}


img{
    width: 100%;
}

main{

    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#pan{
   
}







body{
background-color: yellow;
margin: 0px;

}

@media (min-width: 600px){
    #parent{
        display: flex;
    }
}