a{
    text-decoration: none;
    display: block;
    padding: 12px;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type:none;

}

#mainMenu{
    display: block;
    width: 150px;
    border: 1px solid black;

}

#mainMenu > li{
    position: relative;
}

