@charset "UTF-8";


header *{
    background: gray;
    margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:   "Neuton", serif;
  display: flex;
  justify-content: center;
  text-align: center; 
}

header{
  position: sticky;
  top: 0; 
  order: 2;
}



nav a{
  
  color: #EEE;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
  
}

nav a:hover{
 background-color: dimgrey;
  
}




h3{
    font-family:  "Neuton", serif;
}

h2{
    font-family:  "Neuton", serif;
}


footer{
    font-family:  "Neuton", serif;
    text-align: center;
    background: gray;
    margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:   "Neuton", serif;
  display: flex;
  justify-content: center;
  text-align: center; 
}
    



#square{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s, height 4s, background-color 3s;
  }

  #square:hover {
    width: 300px;
    height: 300px;
    background-color: orange;
  }

  #circle{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  animation-direction: normal;



  }

  @keyframes myAnimation{
    0%{background: red; left: 0px;right: 0px;}
    50%{background-color: yellow; left: 200px;right: 200px;}
  }
#int{
    font-family:  "Neuton", serif;
}


#main{
    font-family:  "Neuton", serif;
    
  

}




body{
    background-color: cyan;
    margin: 0px;
}

