h1{
    color: green;
}
h2{
    color: blueviolet;
}
h3{
    color: blueviolet;
}
p{
    color: green;
}
body{
   background-color: darkgoldenrod; 
}

#typerwrite::after {
    content: '|';
    animation: blink 1s infinite;
}