@charset "UTF-8";

header, nav, main, footer{
    background: darkblue;
    margin: 8px;
    color: white;   
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
     "header        header"
     "nav            nav"
     "footer        main"
;

}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}

