@charset "UTF-8";




header{
    color: #EEE;
    background-color:#555 ; 
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    font-weight: bolder;
    width: 187vh;
  
  
    
    
}

#head{
    position: fixed;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #EEE;
    background-color:#555 ; 
    padding: 35px;

    
    
  
}

nav a{
    color: #EEE;
    text-decoration: none;
    padding: 10px;

    
    
    
    
}

nav{
    display: flex;
    justify-content: end;
    align-items: start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


#Tyson{
    
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-image: url(/images/pexels-kevin-ku-577585\ \(1\).jpg);
    background-size: cover;


    
    
}





#Trish{
    
    padding: 50px;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EEE;
    font-weight: bolder;
    font-size:  30px;
    width: 65%;
    text-align: center;
    letter-spacing: normal;
    height: 195px;
    

}


#Company{
    flex: 1;
    padding: 5px;
    
}


#A{
    color: #EEE;
   
}


#B{
    color: rgb(0,206,209);
}

#R{
    color: rgb(0,206,209);
}




#About{
    height: 100vh;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    padding: 50px;
    margin: 200px 300px 200px 300px;

}


#BLOG{
    height: 100vh;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    padding: 50px;
    margin: 200px 300px 200px 300px;
    


}


#Contact{
    height: 100vh;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    padding: 50px;
    align-items: center;



}


#Contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

#blau{

    color: rgb(0,206,209);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size:  40px;
    letter-spacing: 2px;
}








#ab{
    color: rgb(0,206,209);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size:  30px;
    letter-spacing: 2px;

}

#lo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;    
    font-size:  30px;
    letter-spacing: 2px;



}

#ip{
    color: rgb(0,206,209);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size:  30px;
   letter-spacing: 2px;


}


#Art{
  
}

body{
    margin: 0;
}