@charset "utf-8";
section{
    background: darkred;
    margin: 8px;
    color: white;
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas:
        "A    B   C  "
        "D    .    E"
    
    ;

}

#a{
    grid-area: A;
}
#b{
    grid-area: B;
}
#c{
    grid-area: C;
}
#d{
    grid-area: D;
}
#e{
    grid-area: E;
}
